html {
    font-size: 1em;
}

body {
    background-color: black;
    text-align: center;
    height: 50vh;
}

body input {
    margin-top: 45vh;
    color: white;
    background-color: rgb(92, 92, 92, .1);
    padding: 1em;
    border-radius: 2em;
    border: 0;
}